.calnav_dark {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 21.29%,
      rgba(34, 35, 40, 1) 33.07%,
      rgba(34, 35, 40, 1) 33.07%
    ),
    url("../public/imgs/background.png") !important;

  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.calnav {
  user-select: none;
  display: flex;
  align-items: center;
  place-content: space-between;
  padding: 1.18rem;
  width: 100%;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 21.29%,
      rgba(255, 255, 255, 1) 33.07%,
      rgba(255, 255, 255, 1) 33.07%
    ),
    url("../public/imgs/background.png");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;

  .address {
    display: flex;
    align-items: center;

    svg {
      margin-left: 2rem;
      cursor: pointer;
    }

    .name {
      display: flex;
      align-items: center;
      position: relative;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        text-align: left;
        width: 10em;
        margin-left: 1rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 24px;
      }

      label {
        font-size: 0.8em;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    h1 {
      text-align: left;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      font-size: 1.5rem;
      letter-spacing: 0.15px;
      color: white;
    }

    .editing_buttons {
      display: flex;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        padding: 0.4em;
        border-radius: 0.4em;
        font-size: 0.9em;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        cursor: pointer;
        transition: 0.2s ease;
        margin-left: 0.5rem;

        &:hover {
          padding: 0.45em;
        }

        p {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          /* identical to box height, or 114% */

          text-align: right;
          letter-spacing: 0.75px;
        }

        svg {
          margin: 0 0.5em;
        }
      }

      .save {
        background-color: #3b7af7;
        border: none;
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .date {
    margin-left: -8rem;
    display: flex;
    align-items: center;
    position: relative;

    p {
      margin-right: 1.7rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.75px;
      padding: 0.35rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      opacity: 0.6;
    }

    svg {
      margin-right: 1.7rem;
      width: 0.75rem;
      cursor: pointer;
    }

    h4 {
      width: 15rem;
      margin-left: 12rem;
      position: absolute;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
    }
  }

  .search_sw {
    display: flex;
    align-items: center;

    .search_input {
      display: flex;
      align-items: center;
      margin-right: -1rem;

      input {
        background-color: transparent;
        margin-right: 1rem;
        width: 20rem;
        padding: 0.1rem 1rem;
        outline: none;
        border: none;
        font-size: 1rem;
      }

      .search_icon {
        margin-right: 0;
        cursor: pointer;

        &:hover {
          path {
            fill: #7a9eff;
          }
        }
      }

      .cancel_icon {
        margin-right: 0;
        cursor: pointer;

        &:hover {
          path {
            fill: red;
          }
        }
      }
    }

    svg {
      width: 1.1rem;
      margin-right: 1.5rem;
      cursor: pointer;

      &:hover {
        path {
          fill: #7a9eff;
        }
      }
    }

    .switch {
      display: flex;
      align-items: center;
      padding: 0.4rem 1rem;
      border-radius: 0.5rem;
      margin-right: 1rem;
      position: relative;

      .sw_active_box {
        position: absolute;
        width: 50%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 1);
        border-radius: 0.5rem;
        left: 0;
      }

      .sw_month {
        margin-right: 2rem;
      }

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.75px;
        opacity: 0.6;
        cursor: pointer;
      }

      .sw_active {
        opacity: 1;
      }
    }
  }
}
