.cal {
  width: 100%;

  .content {
    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      p {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;

        font-weight: normal;
        font-size: 1.2rem;
        padding: 1rem 0;
        line-height: 16px;
        text-align: center;
        color: rgba(24, 29, 50, 0.7);
      }
    }

    .month {
      position: relative;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: calc(87.5vh / 6);

      .day {
        position: relative;

        .today {
          z-index: 1;
          position: absolute;
          top: 0.5rem;
          left: 50%;
          transform: translateX(-50%);
          background-color: black;
          border-radius: 50%;
          border: none;
          padding: 0.3rem 0.5rem;

          p {
            color: white;
            border: none;
            padding: 0;
          }
        }

        p {
          z-index: 10;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          text-align: center;

          font-weight: normal;
          font-size: 1rem;
          padding: 0.8rem 0;
          line-height: 16px;
          text-align: center;
          color: black;
        }
      }

      .tasks {
        z-index: 10;
        position: absolute;
        margin-top: 1.9rem;
        width: 100%;

        .task {
          position: absolute;
          border-radius: 0.5rem;
          text-align: left;
          padding: 0.5em;
          border-radius: 0.5em;

          h5,
          h6 {
            font-weight: 600;
            font-size: 0.8em;
            line-height: 16px;
          }

          h6 {
            font-weight: 400;
          }
        }
      }
    }
  }
}
