.navbar_dark {
  transition: 0.3s ease;
  width: 100%;
  height: 7.5%;
  display: flex;
  user-select: none;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 21.29%,
      rgba(34, 35, 40, 1) 33.07%,
      rgba(34, 35, 40, 1) 33.07%
    ),
    url("../public/imgs/background.png") !important;

  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.navbar {
  transition: 0.3s ease;
  width: 100%;
  height: 7.5%;
  padding-inline: 1.5rem;
  display: flex;
  user-select: none;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 21.29%,
      rgba(255, 255, 255, 1) 33.07%,
      rgba(255, 255, 255, 1) 33.07%
    ),
    url("../public/imgs/background.png");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .options {
      display: flex;
      align-items: center;
      width: 15%;

      .settings {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .export {
        /* Button */
        border-radius: 12px;
        padding: 0.75rem;
        margin-left: 1rem;
        padding-inline: 1.25rem;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */

        letter-spacing: 0.75px;

        /* On Surface/Dark Content/Medium Emphasis */

        color: rgba(24, 29, 50, 0.7);
      }
    }

    .viewSlider {
      display: flex;
      align-items: center;
      width: 30%;

      h2 {
        font-size: 16px;
        margin-right: 1.5rem;
        color: black;
      }
    }
  }

  .address {
    display: flex;
    align-items: center;
    width: 50%;

    svg {
      margin-left: 2rem;
      cursor: pointer;
    }

    .name {
      display: flex;
      align-items: center;
      position: relative;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        text-align: left;
        width: 10em;
        margin-left: 1rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 24px;
      }

      label {
        font-size: 0.8em;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    h1 {
      text-align: left;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      font-size: 1.5rem;
      letter-spacing: 0.15px;
      color: white;
    }

    .editing_buttons {
      display: flex;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        padding: 0.4em;
        border-radius: 0.4em;
        font-size: 0.9em;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        cursor: pointer;
        transition: 0.2s ease;
        margin-left: 0.5rem;

        &:hover {
          padding: 0.45em;
        }

        p {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          /* identical to box height, or 114% */

          text-align: right;
          letter-spacing: 0.75px;
        }

        svg {
          margin: 0 0.5em;
        }
      }

      .save {
        background-color: #3b7af7;
        border: none;
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
